/*This is a comment*/
/*	background color:rgb(128, 128, 256)
	Dark-Gray		:rgb(  8,   8,  24)
	Text-blue		:rgb(128, 128, 256)
	SimSun			=~Pixely~ Serif
	Lucida Console	=Monospace
	Georgia			=Serif
	Comic Sans MS	=Cursive
*/
/*body*/
body{
	background-color:rgb( 24,  56,  96);
	color			:rgb(256, 256, 256);
	text-align		:right;
	font-family		:"NSimSun", "Lucida Console","Courier New", monospace;
	font-size		:16px;
	margin-top		:1vw;
	margin-bottom	:1vw;
	padding-top		:0vw;
	padding-bottom	:0vw;
	padding-left	:1vw;
	padding-right	:1vw;
}
* p, .l, .r, .m, .wblock{
	background-color:rgb(256, 256, 232);
	color			:rgb(  0,   0,   0);
	text-align		:center;
	font-family		:"Courier New", monospace, arial;
	font-size		:18px;
	font-weight		:bold;
	margin-top		:0vw;
	margin-bottom	:1vw;
}
p{
	background-color:rgb(256, 256, 232);
	font-family		:"Lucida Console";
	text-align		:left;
}
.l{
	background-color:rgb(256, 128, 128);
	text-align		:left;
	margin			:0vw;
	padding-top		:1vw;
	padding-bottom	:1vw;
	padding-left	:0vw;
	padding-right	:0vw;
	height			:80px;
}
.r{
	background-color:rgb(128, 128, 256);
	text-align		:right;
	margin			:0vw;
	padding-top		:1vw;
	padding-bottom	:1vw;
	padding-left	:0vw;
	padding-right	:0vw;
	height			:80px;
}
.m{
	text-align		:left;
	font-family		:"Courier New", monospace;
}
* #index, #about, .wblock{
	background-color:rgb(256,200,256);
	padding-top		:0vw;
	padding-bottom	:1vw;
	margin-top		:1vw;
	margin-bottom	:1vw;
	margin-left		:2vw;
	margin-right	:2vw;
}
* img, .avatar, .jerry, .nerd{
	float			:left;
	padding			:0vw;
	margin-top		:0px;
	margin-bottom	:0vw;
	margin-left		:1vw;
	margin-right	:1vw;
	height			:64px;
	border			:8px solid rgb(  8,  8, 24);
}
img{
}
.avatar{
}
.nerd{
	float:left;
}
.jerry{
	float:right;
}

	/*links*/
	a{
		background-color:rgb(  0,   0,   0);
		color			:rgb(  0,   0, 256);
		font-variant	:underline;
		font-weight		:bold;
	}
	a:visited{
		background-color:rgb( 256, 256, 256);
		color			:rgb(   0,   0, 128);
		font-variant	:underline;
		font-weight		:bold;
	}
/*Headers*/
	* h1, h2, h3, h4, h5, h6, .hblock{
		background-color:rgb(  8,   8,  24);
		color			:rgb(128, 128, 256);
		text-align		:center;
		font-weight		:bold;
		font-family		:"Lucida Console", monospace;
	}
	/*h1{
		color: rgb(128, 128, 256);
	}
	h2{
		color: rgb(128, 128, 224);
	}
	h3{
		color: rgb(128, 128, 200);
	}
	h4{
		color: rgb(128, 128, 176);
	}
	h5{
		color: rgb(128, 128, 152);
	}
	h6{
		color: rgb(128, 128, 128);
	}*/
	.hblock{
		color:rgb(  0,   0,   0);
		margin-top		:0vw;
		margin-bottom	:1vw;
		border			:1vw solid rgb(128, 128, 256);
		padding			:1vw;
	}