/*This is a comment*/
/*	background color	:rgb(128,128,256)
	Dark-Gray			:rgb(  8,  8, 24)
	wblock/list color	:rgb(256,200,200)
	Text-blue			:rgb(128,128,256)
	SimSun/NSimSun	=Pixely
	Lucida Console	=Monospace
	Georgia			=Serif
	Comic Sans MS	=Cursive
*/
/*Fast-Travler*/
.ft{
	/*background-color:rgb( 24,  56,  96);
	color			:rgb(256, 256, 256);*/
	background-color:rgb(  8,   8,  24);
	color			:rgb(256, 256, 256);
		text-align		:right;
		font-family		:"SimSun", "Lucida Console", monospace;
		font-size		:16px;
		font-weight		:normal;
	position		:fixed;
	top				: 0px;
	right			: 0px;
	padding-top		: 0px;
	padding-bottom	: 0px;
	padding-left	:16px;
	padding-right	:16px;
	border			: 8px solid rgb(256,256,256);
		margin-top		: 0px;
		margin-bottom	: 0px;
		margin-left		:auto;
		margin-right	:auto;
	/*width			:100vw;*/
}

body{
	background-color:rgb( 24,  56,  96);
	color			:rgb(256, 256, 256);
	text-align		:center;
	font-family		:"Lucida Console", "Consolas New", monospace;
	font-size		:16px;
	padding			:10px;
	border			: 1px none rgb(128,128,256);
	margin			:10px;
}

p{
	background-color:rgb(256,256,256);
	color			:rgb(  0,  0,  0);
		text-align		:left;
		font-family		:"Lucida Console", "Consolas New", monospace;
		font-size		:18px;
		font-weight		:noraml;
	padding			:10px;
	border			:0px solid rgb(  8,  8, 24);
	margin			:auto;
	/*background-color:rgb(256, 256, 232);
	color			:rgb(  0,   0,   0);
	text-align		:left;
	font-family		:"Lucida Console", monospace;
	font-size		:18px;
	font-weight		:none;
	border			:0px none rgb(0,0,0);
	margin			:0px;*/
}
.small{
	width	:50vw;
	margin-left	:auto;
	margin-right:auto;
}
.frame{
	border			:10px solid rgb(  8,  8, 24);
}
	.textboxes{
		font-family		:"Consolas New", monospace;
		font-weight		:bold;
		margin			:0px;
		padding-top		:1vw;
		padding-bottom	:1vw;
		padding-left	:0vw;
		padding-right	:0vw;
		/*height			:80px;*/
		overflow		:hidden;
		border			:0px none;
	}
	.l{
		text-align	:left;
	}
	.r{
		text-align	:right;
	}
	.red{
		background-color:rgb(256, 128, 128);
		color			:rgb(  0,   0,   0);
	}
	.blue{
		background-color:rgb(128, 128, 256);
		color			:rgb(  0,   0,   0);
	}
	.green{
		background-color:rgb(128,256,128);
		color			:rgb(  0,  0,  0);
	}
	.purple{
		background-color:rgb(256, 64,256);
		color			:rgb(  0,  0,  0);
	}
	.wblock{
		background-color:rgb(256,200,200);
	}

	.section{
		margin-bottom:10px;
	}

/*links*/
a{
	color			:rgb(  0,  0,256);
	font-family		:monospace;
	font-weight		:normal;
}
a:visited{
	color			:rgb(256,  0,256);
}
a[href^="http"]:not([href*="void816.github.io"]) {/**/
	color:rgb(256,  0,  0);
}
a:hover, a:active, a:focus {
	border	:0px;
}

/*
.ft a:hover, a:active, a:focus { Fast-Travler effects
	border-top		:8px solid rgb(128,128,256);
	border-bottom	:8px solid rgb(128,128,256);
	border-left		:0px;
	border-right	:0px;
}
*/
li a:hover, a:active, a:focus{ /*bookshelf effect*/
	border-top		:0px;
	border-bottom	:0px;
	border-left		:0px solid rgb(0,0,0);
	border-right	:8px solid rgb(0,0,0);
}
/*Tables & Lists*/
	table{
		margin			:0px;
		margin-left		:auto;
		margin-right	:auto;
	}
	th{
		background-color:rgb(  8,   8,  24);
			color		:rgb(128, 128, 256);
			text-align	:center;
			font-weight	:bold;
			font-family	:"Lucinda Console", "Consolas New", monospace;
			font-size	:18px;
		width			:50vw;
		padding			:4px;
		margin			:0px;
		margin-left		:auto;
		margin-right	:auto;
	}
	td{
		background-color:rgb(128,128,256);
		color			:rgb(  8,  8, 24);
			text-align	:center;
			font-family	:"Lucinda Console", "Consolas New", monospace;
			font-size	:16px;
		width			:50vw;
		padding			:8px;
		margin			:0px;
		margin-left		:auto;
		margin-right	:auto;
	}
	ol, ul{
		background-color:rgb(256,200,200);
				   color:rgb(  0,  0,  0);
			text-align		:center;
			font-family		:"Lucinda Console", "Consolas New", monospace;
			font-size		:18px;
		padding			: 0px;
		padding-left	:10px;
		padding-right	:10px;
		margin-top		:16px;
		margin-bottom	:16px;
		margin-left		:auto;
		margin-right	:auto;
	}

	li{
		background-color:rgb(256,256,256);
				   color:rgb(  0,  0,  0);
			text-align		:left;
			font-family		:"Lucinda Console", "Consolas New", monospace;
			font-size		:16px;
			width		:90%;
		padding			: 5px;
		margin-top		: 0px;
		margin-bottom	: 0px;
		margin-left		:auto;
		margin-right	:auto;
	}

.musicli{
	background-color:rgb(  8,  8, 24);
			   color:rgb(128,128,256);
			text-align		:center;
			font-family		:"Lucinda Console", "Consolas New", monospace;
		width			:50%;
		padding			:10px;
		margin-top		: 0px;
		margin-bottom	: 0px;
		margin-left		:auto;
		margin-right	:auto;
}

/*Headers*/
	* h1, h2, h3, h4, h5, h6, .hblock, .h	{
		background-color:rgb(  8,  8, 24);
		color			:rgb(128,128,256);
		text-align		:center;
		font-weight		:bold;
		font-family		:"Georgia", "Lucida Console", monospace;
		padding-top		:16px;
		padding-bottom	:16px;
		padding-left	:0px;
		padding-right	:0px;
		margin-top		:0px;
		margin-bottom	:0px;
		margin-left		:auto;
		margin-right	:auto;
		border		:0px none rgb(0,0,0);
	}
	h1{font-size:32px;}
	h2{font-size:28px;}
	h3{font-size:24px;}
	h4{font-size:22px;}
	h5{font-size:20px;}
	h6{font-size:18px;}
	.hblock{
		padding		:0px;
		border		:16px solid rgb(128,128,256);
		margin-left	:auto;
		margin-right:auto;
	}

* .avatar, .jerry, .nerd{
	float			:left;
	padding			:0vw;
	margin-top		:0vw;
	margin-bottom	:1vw;
	margin-left		:1vw;
	margin-right	:1vw;
	height			:64px;
	border			:8px solid rgb(  8,  8, 24);
}
	img{
		padding			:0vw;
		margin			:0px;
		/*margin-top		:1vw;
		margin-bottom	:1vw;
		margin-left		:1vw;
		margin-right	:1vw;*/
		height			:10vw;
		border			:16px solid rgb(  0,  0,  0);
		/*border			:8px solid rgb(  8,  8, 24);*/
	}
	.avatar{
		float:left;
	}
	.nerd{
		float:left;
	}
	.jerry{
		float:right;
	}

.mystic{
	color:rgb(256,256,256);
	font-weight:bold;
	font-style:normal;
}

#rock{
	background-color:rgb(256,256,256);
	color			:rgb(128,  0,  0);
	text-align		:left;
	font-family		:"Consolas";
	font-size		:18px;
	font-weight		:bold;
	margin-left		:auto;
	margin-right	:auto;
}
#metal{
	background-color:rgb(  0,  0,  0);
	color			:rgb(256,256,256);
	font-family		:"Impact";
}
#tracker{
	background-color:rgb(  0,  0, 32);
	color			:rgb(156,156,156);
	text-align		:left;
	font-family		:"Lucida Console", monospace;
	font-size		:18px;
	font-weight		:bold;
	margin-left		:auto;
	margin-right	:auto;
}